body {
    background-image: url(assets/pattern.png);
}

a {
    color:inherit;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
}
a:hover {
    color: #3c7a89;
  }
  a:link {
    color:inherit;
    text-decoration: none;
    text-align: left;
  }
  
  a:visited {
    color:inherit;
    text-decoration: none;
    text-align: left;
  }
  .container {
      margin-bottom: 150px;
  }
  .footerinfo {
    position: relative;
  }
  


  #nav {
  position:absolute;
  left: 50vw; top:30%;
  list-style:none;
  }
  #nav li {
  float:left;
  text-align: left;
  }
  #nav a {
      position: absolute;
      left: 0;
      display:block;
      text-align:left;
      width:150px; /* fixed width */
      text-decoration:none; 
  }
          