body {
    background-image: url(assets/pattern.png);
}

a {
    color:inherit;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
}
a:hover {
    color: #3c7a89;
  }
  a:link {
    color:inherit;
    text-decoration: none;
    text-align: left;
  }
  
  a:visited {
    color:inherit;
    text-decoration: none;
    text-align: left;
  }
  .container {
      margin-bottom: 150px;
  }
  .footerinfo {
    position: relative;
  }
  .cardlinks {
    position: absolute;
    bottom: 5px;
   
    
  }
#name {
  /*font-family: 'Permanent Marker', cursive; */
  font-family: 'Julius Sans One', sans-serif; 
  font-size: 15px;
  line-height: 1.3;
}
.navbar {
 /* background-color: #4C5454;*/
}
.jumbotron {
  /*background-color: #EEEEFF;*/
}
#summary {
  font-family: 'Julius Sans One', sans-serif; 
  font-size: 13px;
  text-indent: 20px;
  font-weight: 650;
  
}
  #nav {
  position:absolute;
  left: 50vw; top:30%;
  list-style:none;
  }
  #nav li {
  float:left;
  text-align: left;
  }
  #nav a {
      position: absolute;
      left: 0;
      display:block;
      text-align:left;
      width:150px; /* fixed width */
      text-decoration:none; 
  }
#brand {
    font-family: 'Permanent Marker', cursive;
    /*font-family: 'Julius Sans One', sans-serif; */
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -5px;
}          