body {
    background-image: url(assets/pattern.png);
}

a {
    color:inherit;
    text-decoration: none;
    text-align: left;
}
a:hover {
    color: #3c7a89;
  }
  a:link {
    color:inherit;
    text-decoration: none;
    text-align: left;
  }
  
  a:visited {
    color:inherit;
    text-decoration: none;
    text-align: left;
  }
  .container {
      margin-bottom: 150px;
  }
  .footernav {

  }